body {
    margin: 0;
    padding: 0;
    font-family: calibri;

}

a {
    text-decoration: none;
}

.login-container {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.login-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input h1 {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-family: Magmawave Caps;
}

.login-input form {
    background-color: #23243c;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input form input {
    margin: 10px;
    width: 250px;
    shape-margin: 30px;
    background-color: #434459;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    outline: none;

}

.login-input form input::placeholder{
    color: #727383;
}
.login-input form button{
    text-transform: uppercase;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 5px;
    font-weight: 600;
    background-color: #3b70e0;
    color: #fff;
    font-size: 12px;
    font-family: oppins;
    letter-spacing: 1px;
}
.forget{
    color: #fff;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
    border-bottom: 1px solid #fff;
    font-weight: bold
    
}
.forget:hover{
    color: red;
}
.login-input form button:hover{
    background-color: rgba(125,49,247);
    transition: all ease 0.3s;
}


